/* 基础设置 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航条start */
.topbar{
    height: 30px;
    background-color: #ECECEC;
}
.welcome{
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span,.welcome a{
    font-size: 12px;
}
.welcome .hello{
    margin-right: 28px;
}
.welcome .login{
    padding-right: 10px;
    border-right: 1px solid black;
}
.welcome .register{
    padding-left: 10px;
}

.topbar-nav .list{
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li{
    float: left;
}
.topbar-nav .list li a{
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}

/* #endregion顶部导航条end */
/* #region头部start */
.header{
    height: 120px;
}
.header .search form{
    margin: 42px 0;
    font-size: 0;
}
.header .search input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
    padding-left: 10px;
}
.header .search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    /* 先水平 后垂直 */
    background-position: 28px 6px;
}
/* #endregion头部end */
/* #region主导航区start */
.main-nav{
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.main-nav .container .all-types{
    width: 190px;
    height: 48px;
    text-align: center;
    background-color: #DD302D;
    line-height: 48px;
    color: #FFF;
    font-size: 16px;
}
.main-nav-list{
    height: 48px;
    line-height: 48px;
}
.main-nav-list li{
    float:left ;
    margin: 0 10px;
    font-size: 16px;
}
/* #endregion主导航区end */
/* #region主要内容区start */
.main-content{
    margin-top: 10px;
}
/* 找爷爷，不找父亲 */
.main-content .slide-nav{
    width: 190px;
    height: 458px;
    position: relative;
    background-color: #F4F4F4;
}
.main-content .slide-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-content .slide-nav li:hover{
    background-color: #DD302D;
}
/* 用子代选择器 */
.main-content .slide-nav li:hover>a{
    color: #ECECEC;
}
.main-content .slide-nav li:hover .second-menu{
    display: block;
}
/* 算盒子总宽度，记得带padding */
.second-menu{
    width: 680px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.second-menu dl{
    height: 36px;
    line-height: 36px;
}
.second-menu dl:first-child{
    margin-top: 10px;
}
.second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd{
    float: left;
}
.second-menu dd a{
    padding: 0 10px;
    border-left: 1px solid #666;
}
.main-content .banner{
    width: 690px;
    height: 458px;
    margin: 0 10px;
}
.main-content .slide-other{
    width: 290px;
    height: 458px;
    
}
/* padding影响盒子的宽高 */
.slide-other .message{
    width: 260px;
    height: 156px;
    padding: 0 14px;
    border: 1px solid #D9D9D9;
}
.slide-other .message .title{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.slide-other .message .title span{
    font-size: 14px;
}
.slide-other .message .title a{
    font-size: 12px;
}
.slide-other .message li{
    height: 26px;
    line-height: 26px;
}
.slide-other .other-nav{
    margin-top: 10px;
    width: 290px;
    height: 290px;
    /* background-color: #666; */
    overflow: hidden;
}
.other-nav-list li{
    width: 48px;
    height: 70px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.other-nav-list:first-child{
    margin-top: 16px;
}
.other-nav-list:nth-child(2){
    margin: 17px 0;
}
.other-nav-list li:first-child{
    margin-left: 16px;
}
.other-nav-list .picture{
    width: 48px;
    height: 48px;
    background-image: url('../images/精灵图-侧边功能.png');
}
.other-nav-list:nth-child(1) li:nth-child(1) .picture{
    background-position: 0 0;
}
.other-nav-list:nth-child(1) li:nth-child(2) .picture{
    background-position: -48px 0;
}
.other-nav-list:nth-child(1) li:nth-child(3) .picture{
    background-position: -96px 0;
}
.other-nav-list:nth-child(1) li:nth-child(4) .picture{
    background-position: -144px 0;
}

.other-nav-list:nth-child(2) li:nth-child(1) .picture{
    background-position: 0 -48px;
}
.other-nav-list:nth-child(2) li:nth-child(2) .picture{
    background-position: -48px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(3) .picture{
    background-position: -96px -48px;
}
.other-nav-list:nth-child(2) li:nth-child(4) .picture{
    background-position: -144px -48px;
}


.other-nav-list:nth-child(3) li:nth-child(1) .picture{
    background-position: 0 -96px;
}
.other-nav-list:nth-child(3) li:nth-child(2) .picture{
    background-position: -48px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(3) .picture{
    background-position: -96px -96px;
}
.other-nav-list:nth-child(3) li:nth-child(4) .picture{
    background-position: -144px -96px;
}

/* #endregion主要内容区end */
/* #region秒杀区start */
/* 可能存在宽度不够的问题 */
.secskill{
    margin-top: 10px;
}
.secskill .container img{
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.secskill .container img:last-child{
    margin-right: 0;
}
/* #endregion秒杀区end */
/* #region楼层区start */
.floor{
    margin-top: 48px;
}
.floor-nav{
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}
.floor-name{
    font-size: 20px;
}
.floor-nav-list li{
    float: left;
    font-size: 14px;
}
.floor-nav-list li a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.floor-nav-list li:first-child a{
    padding-left: 0;
}
.floor-nav-list li:last-child a{
    padding-right: 0;
    border: 0;
}
.floor-info .item{
    float: left;
}
.floor-info .item1{
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}
.item1-list{
    margin-bottom:30px;
}
.item1-list li{
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 14.4px;
    font-size: 16px;
    /* 水平居中 */
    text-align: center;
}
.item1-list li:nth-child(2n-1){
    float: left;
}
.item1-list li:nth-child(2n){
    float: right;
}
.item1-list li:nth-child(5){
    margin-bottom: 0px;
}
.item1-list li:last-child{
    margin-bottom: 0px;
}

.floor-info .item2{
    width: 340px;
    height: 432px;
}
.floor-info .item3,
.floor-info .item4,
.floor-info .item5
{
    width: 206px;
    height: 432px;
}
.floor-info .item3 img,
.floor-info .item4 img,
.floor-info .item5 img{
    border-bottom: 1px solid #E2E2E2;
}
.floor-info .item3,
.floor-info .item4{
    border-right: 1px solid #E2E2E2;
}

/* #endregion楼层区end */
/* #region页脚start */
.footer{
    margin-top: 48px;
    height: 440px;
    background-color: #483E3E;
}
.footer .links-list{
    float: left;
    width: 190px;
    height: 176px;
    margin-top: 48px;
    margin-right: 10px;
}
.footer .links-list:last-child{
    margin-right: 0;
}
.footer .links-list a{
    color: white;
    font-size: 14px;
}
.line{
    background-color: #584D4D;
    height: 1px;
    margin-top: 22px;
}
.bottom-links{
    text-align: center;
}
.bottom-links-list{
    margin-top: 47px;
    display: inline-block;
}
.bottom-links-list li{
    float: left;
    height: 18px;
    line-height: 18px;

}
.bottom-links-list li a{
    color: white;
    font-size: 12px;
    padding:0 26px;
    border-right: 1px solid #D9D9D9;
}
.bottom-links-list li:first-child a{
    padding-left: 0;
}
.bottom-links-list li:last-child a{
    padding-right: 0;
    border-right: 0;
}
.copyright{
    color: white;
    margin-top: 10px;
}
/* #endregion页脚end */